body{
    display: inline;
    background-color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/Screen\ Shot\ 2018-06-28\ at\ 11.04.58\ AM.png")
}
h1{
    color: black;
}
.container{
    height: 100%;
    width
}
.blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.block1{
    background-color: red;
    height: 100%;
    color: yellow;
    padding: 15%;
    
}
.block1:hover{
    cursor: pointer;
    border: 3px solid yellow;
}
.block2{
    background-color: yellow;
    height: 100%;
    color: blue;
    padding: 10%;
    
}
.block2:hover{
    cursor: pointer;
    border: 3px solid blue;
}
.block3{
    background-color: blue;
    height: 100;
    color:red;
    padding: 1%;
    
}
.block3:hover{
    cursor: pointer;
    border: 3px solid red;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue; 
}
#y{
    color: yellow;
    margin-left: 10%;
}
#r{
    color: red; 
    text-align: right;
    margin-right: 10%;
   
}
#b{
    color: blue;
    text-align: center;
    
}
#medium{
    height: 300px;
}
#small{
    height: 250px;
}
#smaller{
    height: 200px;
}
#bottom{
    margin-top: 100px;
}
